.nav {
  margin-top: 15px;
  display: flex;
  a {
    font-size: 30px;
  }
}

.nav__left {
  display: flex;
  gap: 5px;
  margin-left: 15px;
  align-items: center;
}

.nav__right {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
}

.hamburger-icon {
  display: none;
}

.input-search {
  text-align: center;
  flex: 1;
  margin-bottom: 2px;
  input {
    font-size: 15px;
    padding: 12px;
    border: black;
    border-radius: 5px;
    width: 95%;
  }
}

.input-search__products {
  position: fixed;
  height: 90%;
  width: 100%;
  padding-bottom: 90px;
  padding-inline-start: 0;
  background: #c2b59b;
  overflow-y: scroll;
}

.input-search__product {
  display: flex;
  align-items: center;
  margin-left: 10px;
  img {
    width: 10%;
  }
  p {
    font-size: 20px;
  }
}

.hide-contact {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .nav {
    align-items: center;
  }
}

@media only screen and (max-width: 1024px) {
  .nav__left {
    display: none;
  }
  .hamburger-icon {
    display: block;
    padding-top: 6px;
    padding-left: 10px;
    z-index: 1;
  }
  .hamburger-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 100%;
    width: 100%;
    background-color: #c2b59b;
    text-align: center;
    overflow: hidden;
    a {
      padding: 5px;
    }
  }
  .nav__right {
    margin-left: auto;
  }
  .input-search {
    input {
      width: 85%;
    }
  }
  .input-search__product {
    p {
      font-size: 22px;
    }
    img {
      width: 20%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .input-search__product {
    img {
      width: 50%;
    }
    p {
      font-size: 18px;
    }
  }
}
