.nav {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  a {
    font-size: 30px;
  }
}

.nav__left {
  margin-left: 15px;
}

.nav__right {
  display: flex;
  height: fit-content;
  margin-right: 15px;
}

.hamburger-icon {
  display: none;
}

.search__product {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .nav__left {
    display: none;
  }

  .hamburger-icon {
    display: block;
    padding-top: 6px;
    padding-left: 10px;
    z-index: 1;
  }
  .hamburger-menu {
    position: fixed;
    padding-top: 50px;
    height: 100%;
    width: 100%;
    background-color: #c2b59b;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    a {
      padding: 5px;
    }
  }
  .nav__right {
    margin-left: auto;
  }
}
