.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 40%;
  }
}

select {
  appearance: none;
  padding: 10px 16px 10px 16px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 17px;

  text-align-last: center;
  &:focus {
    border: 1px solid #999;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    outline: none;
  }
}
