@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300&display=swap");

html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Outfit", sans-serif;
  background-color: #c2b59b;
}
