---
import "../styles/styles.scss";
import dumplingkicks from "../assets/dumplingkicks.png";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="https://i.imgur.com/ieEjw41.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Dumpling Kicks</title>
  </head>
  <body>
    <div class="not-found">
      <img src={dumplingkicks} alt="Dumpling Kicks" />
      <h1>404</h1>
      <p>
        The page you are looking for doesn't exist or it is still under
        construction.
      </p>
      <p>
        Check out our <a href="https://www.instagram.com/dumpling_kicks/"
          >instagram</a
        >
        in the meantime!
      </p>
    </div>
  </body>
</html>
