---
import Layout from "../layouts/Layout.astro";
import shoes from "../shoes.json";
import "../styles/index.scss";
---

<Layout>
  <main class="products">
    {
      shoes.map((shoe) => {
        const { id, name, thumbnail } = shoe;
        return (
          <div class="product">
            <img src={thumbnail} alt="Shoe" />
            <a href={`/product/${name.replace(/\s/g, "-").toLowerCase()}`}>
              {name}
            </a>
          </div>
        );
      })
    }
  </main>
</Layout>
