---
import "../styles/styles.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="https://i.imgur.com/ieEjw41.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Dumpling Kicks</title>
  </head>
  <body>
    <slot />
  </body>
</html>
