---
import "../styles/styles.scss";
import "../styles/navbar.scss";
import { Navbar } from "../components/Navbar/Navbar";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Twoje ulubione sneakersy w przystępnej cenie!"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="https://i.imgur.com/ieEjw41.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Dumpling Kicks</title>
  </head>
  <body>
    <Navbar client:load />
    <slot />
  </body>
</html>
